body {
  font-family: "Poppins", serif;
  color: #22343d;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header section */

.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.list-header-sign {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
  padding: 19px 0;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 26px 0;
  margin-right: 237px;
}

.item-header-link {
  padding: 26px 0;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.button-header {
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: #fff;
  padding: 9px 24px;
  border-radius: 4px;
}

.singin {
  border: 1px solid #bcd0e5;
  min-width: 105px;
  height: 42px;
}

.singup {
  background-color: #02897a;
  color: #fff;
  min-width: 113px;
  height: 42px;
}

/* section 1 */

.section-work {
  padding-top: 25px;
  padding-bottom: 50px;
}

.title-one {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.text-work {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  margin-bottom: 45px;
}

.list-work {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button-work {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  display: block;
  text-align: center;
}

.link-work {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

.container-work {
  display: flex;
  align-items: center;
  gap: 35px;
}

.container-work-text {
  padding: 112px 0;
  max-width: 465px;

}

/* section 2 */

.section-products {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-product {
  display: flex;
  align-items: center;
}

.title-two-product {
  text-align: center;
  max-width: 534px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.list-product {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.item-produkt {
  width: calc((100% - 90px) / 4);
}

.title-three-product {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}

.text-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.button-product {
  display: block;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 15px 32px 14px 34px;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  margin-bottom: 50px;
  margin: 0 auto;
}


/*  section 3 */

.container-management {
  display: flex;
  align-items: center;
  gap: 84px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.container-management-text {
  max-width: 456px;
}

.management-title-four {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.management-title-two {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 30px;
}

.list-management {
  margin-bottom: 25px;
}

.management-title-four {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 12px;
}

.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}


/* section 4 */

.container-customer {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
  gap: 84px;
}

.container-customer-text {
  max-width: 451px;
  padding-top: 40px;
  padding-bottom: 41px;
}

.title-customer-four {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.title-customer-two {
  margin-bottom: 25px;
}

.text-customer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.item-customer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}

/* section 5 */

.container-optimisation {
  display: flex;
  align-items: center;
  gap: 84px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.container-optimisation-text {
  max-width: 486px;
}

.title-optimisation {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.title-optimisation-two {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.text-optimisation-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.item-optimisation {
  margin-bottom: 25px;
}

.title-optimisation-four {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}


.text-optimisation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.container-quick {
  padding-top: 75px;
  padding-bottom: 50px;
}