body {
  font-family: "Poppins", serif;
  color: #22343d;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header section */

.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.list-header-sign {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
  padding: 19px 0;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 26px 0;
  margin-right: 237px;
}

.item-header-link {
  padding: 26px 0;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.button-header {
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: #fff;
  padding: 9px 24px;
  border-radius: 4px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out, border 250ms ease-in-out;
}

.singin {
  border: 1px solid #bcd0e5;
  min-width: 105px;
  height: 42px;
}

.singin:hover,
.singin:focus {
  background-color: #02897a;
  color: #fff;
  border: none;
}

.singup {
  background-color: #02897a;
  color: #fff;
  min-width: 113px;
  height: 42px;
}

.singup:hover,
.singup:focus {
  color: #173a56;
  background-color: #fff;
  border: 1px solid #bcd0e5;
}


/* section 1 */

.section-work {
  padding-top: 25px;
  padding-bottom: 50px;
}

.title-one {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.text-work {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  margin-bottom: 45px;
}

.list-work {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button-work {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  display: block;
  text-align: center;
  border: 1px solid transparent;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out, border 250ms ease-in-out;
}

.button-work:hover,
.button-work:focus {
  color: #02897a;
  background-color: #fff;
  border: 1px solid #bcd0e5;
}

.link-work {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  transition: color 250ms ease-in-out;
}

.link-work:hover,
.link-work:focus {
  color: #22343d;
}

.container-work {
  display: flex;
  align-items: center;
  gap: 35px;
}

.container-work-text {
  padding: 112px 0;
  max-width: 465px;

}

/* section 2 */

.section-products {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-product {
  display: flex;
  align-items: center;
}

.title-two-product {
  text-align: center;
  max-width: 534px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.list-product {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.item-produkt {
  width: calc((100% - 90px) / 4);
}

.title-three-product {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}

.text-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.button-product {
  display: block;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 0 32px;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  margin-bottom: 50px;
  margin: 0 auto;
  border: 1px solid transparent;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out, border 250ms ease-in-out;
}

.button-product:hover,
.button-product:focus {
  color: #02897a;
  background-color: #fff;
  border: 1px solid #bcd0e5;
}



/*  section 3 */

.container-management {
  display: flex;
  align-items: center;
  gap: 84px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.container-management-text {
  max-width: 456px;
}

.management-title-four {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.management-title-two {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 30px;
}

.list-management {
  margin-bottom: 25px;
}

.management-title-four {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 12px;
}

.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}


/* section 4 */

.container-customer {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
  gap: 84px;
}

.container-customer-text {
  max-width: 451px;
  padding-top: 40px;
  padding-bottom: 41px;
}

.title-customer-four {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.title-customer-two {
  margin-bottom: 25px;
}

.text-customer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.item-customer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}

/* section 5 */

.container-optimisation {
  display: flex;
  align-items: center;
  gap: 84px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.container-optimisation-text {
  max-width: 486px;
}

.title-optimisation {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.title-optimisation-two {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.text-optimisation-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.item-optimisation {
  margin-bottom: 25px;
}

.title-optimisation-four {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}


.text-optimisation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.container-quick {
  padding-top: 75px;
  padding-bottom: 50px;
}

/* section 6 */
.section-quick {
  padding-top: 75px;
}



.quick-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 25px;
}

.quick-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 542px;
}



.btn-quick {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  border-radius: 4px;
  max-width: 216px;
  height: 53px;
  padding: 0 30px;
  margin: 0 auto;
}

/* section 7 */
.section-content {
  padding-top: 50px;
  padding-bottom: 85px;
}

.container-content {}

.title-content {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-right: auto;
  margin-bottom: 10px;
}

.text-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  width: 465px;
  margin-right: auto;
  margin-bottom: 40px;
}

.content-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content-item {
  border: 1px solid #dedede;
  width: calc((100% - 60px) / 3);
  border-radius: 8px;
}

.content-item-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cont-item-text {
  padding-top: 24px;
  padding-bottom: 40px;
}

.content-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding-left: 24px;
}

.content-item-title {
  padding-left: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  transition: color 250ms ease-in-out;
}

.text-box {
  font-weight: bold;
}

.content-item-title:hover,
.content-item-title:focus {
  color: #02897a;
  cursor: pointer;
}


/* section 8 price */

.section-price {
  padding-top: 85px;
  padding-bottom: 50px;
}

.container {}

.title-price {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}

.text-price {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 40px;
  text-align: center;
}

.list-price {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.item-price {
  text-align: center;
  width: calc((100% - 144px) / 3);
  padding: 32px 0;
  border-radius: 8px;
  width: 322px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.item-price-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  margin-bottom: 8px;
}

.item-price-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  margin-bottom: 16px;
}

.item-price-price-text {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  line-height: 1;
}

.item-list {
  margin-bottom: 30px;
}

.item-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
  margin-bottom: 16px;
}

.dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  vertical-align: super;
  font-size: 0.5em;
}


.per {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: #afafaf;
  margin-top: 0.5em;
}


.item-list-item:last-child {
  margin-bottom: 0;
}

.btn-price {
  border-radius: 8px;
  width: 139px;
  padding: 11px 0;
  text-align: center;
  background: #02897a;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.btn-green {
  background-color: #fff;
  color: #02897a;
}

.green {
  background: #02897a;
  color: #fff;
}

/* section 9 opinies */

.section-say {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-say {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}

.title-text-say {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  width: 537px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.list-say {
  display: flex;
  gap: 64px;
}

.item-say {
  width: calc((100% - 128px) / 3);
  border: 1px solid #dedede;
  border-radius: 5px;
}

.stars-item-img {
  padding-top: 28px;
  padding-left: 28px;
  margin-bottom: 16px;
}

.text-item-say {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
  padding-left: 26px;
}

.icon-text-say {
  display: flex;
  gap: 14px;
  padding-left: 26px;
  padding-bottom: 28px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.ikon-item-say {}

.wahid-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.designer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* section 10 */
.section-join {
  border-radius: 32px;
  width: 968px;
  background: #02897a;
  margin: 0 auto;
  padding-top: 50px;
}

.container-join {
  display: flex;
  gap: 10px;
}

.title-join {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  width: 510px;
  margin-bottom: 46px;
  padding-top: 49px;
  padding-left: 51px;
}

.btn-join {
  display: block;
  align-items: center;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  margin-left: 51px;
  margin-bottom: 56px;
}